.arrowPrev {
  position: absolute;
  top: 0px;
  left: 0px;
  left: 2%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 30px;
  color: var(--neutralDark);
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 1;
}

.arrowNext {
  position: absolute;
  top: 0px;
  left: 0px;
  left: 98%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 30px;
  color: var(--neutralDark);
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 1;
}